* {
    box-sizing: border-box;
}
body {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}

.profileImage img {
    width: auto;
    height: 100px;
}

.profileTitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.profileTitle {
    font-size: 15px;
    margin-top: 5px;
}

.linkArea {
    width: 100%;
    margin: 50px 0;
}

.linkArea a {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.linkArea a.link-rounded {
    border-radius: 50px;
}


.linkArea a.link-square {
    border-radius: 0;
}